.navbar-dark {
    background-color:#713e9c;
}

.profileImage {
    height: 350px;
    width: 350px;
}

.resumeDnld {
    float: right;
}

.genColor {
    color: #713e9c;
}

.alertFixedPos{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
}